html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/backimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.book-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notebook-img {
  border: 1px;
  border-radius: 50px;
  border-width: 550px;
  background-color: rgba(240, 248, 255, 0.321);
  width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 0 20px 35px rgba(135, 189, 165, 0.25);
}
.writing-page {
  width: 465px;
  height: 605px;
  background-image: url("/page.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  padding: 24px;
  box-sizing: border-box;
}

.writing-page textarea {
  width: 70%;
  height: 70%;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  font: 18px/1 "Courier New", monospace;
  color: #000000;
  padding-top: 58px;
  padding-left: 66px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.writing-page textarea::placeholder {
  color: #7a7a7a;
  opacity: 0.7;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 5px;
}
.actions button {
  font-family: "Courier New", monospace;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #8ac7b1;
  background: #134934;
  cursor: pointer;
}
.actions button:disabled {
  opacity: 0.6;
  cursor: default;
}

.clear-button {
  background: #d10c0c !important;
}

.ai-card {
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.334);
  padding: 10px;
  border-radius: 10px;
  color: #464646;
}
@media (max-width: 510px) {
  .notebook-img {
    width: 380px;
  }
}
@media (max-width: 390px) {
  .notebook-img {
    width: 300px;
  }
}
@media (max-width: 430px) {
  .actions {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .ai-card {
    padding: 40px;
  }
}
